@model IEnumerable<QuyetTien.BangSanPham>

@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<h2>Quản lý sản phẩm</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("Create")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Thêm sản phẩm</a>
</p>
<table class="table" id="product-table">
    <thead>
        <tr>
            <th>Hình ảnh</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Loại</th>
            <th>Giá bán</th>
            <th>Giá gốc</th>
            <th>Giá góp</th>
            <th>Số lượng tồn</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Action("Details", new { id = item.id })" class="img-thumbnail img-rounded" style="max-width: 100px;" alt="chưa có hình" />
            </td>
            <td>
                @item.MaSP
            </td>
            <td>
                @item.TenSP
            </td>
            <td>
                @item.LoaiSanPham.TenLoai
            </td>
            <td>
                @item.GiaBan.ToString("N0")
            </td>
            <td>
                @item.GiaGoc.ToString("N0")
            </td>
            <td>
                @item.GiaGop.ToString("N0")
            </td>
            <td>
                @item.SoLuongTon.ToString("N0")
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
                <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                @*<a href="@Url.Action("Details", new { id = item.id })" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-eye-open"></span></a>*@
                <a href="@Url.Action("Delete", new { id = item.id })" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
    </tbody>

</table>

@section scripts {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#product-table').DataTable();
        });
    </script>
}


